{% extends 'base.html.twig' %}

{% block title %}Nouveau compte | {{ parent() }}{% endblock %}

{% block main %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
      {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
