{% extends 'base.html.twig' %}

{% block main %}
    <h2>Mise à jour</h2>
    <article>
        <p>Version 1.5 || 19/02/22</p>
        <p>* Possibilité d'uploader ses propres dessins, mise en place d'une gallerie.</p>
        <p>* Ajout de quelques photos.</p>
    </article>
{% endblock %}

{% block title %}
    A propos | {{ parent() }}
{% endblock %}

