{% extends 'base.html.twig' %}

{% block title %}
    404 | {{ parent() }}
{% endblock %}

{% block main %}
<div id="404">
    <h2 style="color: red">Cette page n'existe pas, merci de ne pas jouer avec les url!!</h2>
    <img src="https://i.pinimg.com/564x/4e/86/b4/4e86b4fce4b948780948108b3dc8ab35.jpg" alt="Une belle 404">
</div>
{% endblock %}